core.*
s3credentials.toml
.vscode/launch.json
*.zip
*.parquet
.ipynb_checkpoints
__pycache__
*.sum
checkpoints/
mandeville_bipartite_new/
database.toml
data/
metastore_db/
.vscode/
.metals/
.ammonite
tmp*
dagster_home
.env
.DS_Store
